body {
	background-color: rgb(31, 31, 31);
}
/*.album-container {
	height: 100%;
}*/
.worst-container {
	max-height: 50%;
}
.favorite-album-container {
	width: 25%;
}
.album-cover {
	width: 100%;
	height: auto;
}
.section {
	margin: 1ch;
}
.tapestry {
	width: 100vw;
	height: 100vw;
}
.tapestry-cell {
	width: 20%;
	height: 20%;
	max-width: 20%;
	max-height: 20%;
}
.btn-primary {
	background-color: rgb(20, 20, 20);
}
.best-and-worst {
	height: fit-content;
}
